<div [formGroup]="form">
  <mat-form-field fxFill>
    <input matInput
           type="text"
           placeholder="Informe seu e-mail"
           formControlName="usuario">
  </mat-form-field>
  <mat-form-field fxFill>
    <input matInput
           type="password"
           placeholder="Informe sua senha"
           formControlName="senha">
  </mat-form-field>
  <button mat-flat-button
          color="primary"
          routerLink="cliente"
          [disabled]="form.invalid">Login</button>
</div>
